:root {
    --dark-primary: #18191A;
    --dark-secondary: #242526;
    --dark-complement: #3A3B3C;
    --text-primary: #E4E6EB;
    --text-secondary: rgb(176, 179, 184);
    --blue-accent-emphasis: #1f6feb;
    --blue-accent-muted: rgba(56,139,253,0.4);
    --blue-accent-subtle: rgba(56,139,253,0.15);
}

footer {
  margin: 0.5em 20px 0 20px;
  border-top: 3px double var(--text-secondary);
  padding: 1em 0 1em 0;
  font-size: 80%;
  color: var(--text-secondary);

  .author {
    color: var(--text-primary);
  }
}